tr,th{
    color: white;
    background-color: darkcyan;
}

.table-container{
    width: 80%;
    overflow-y: auto;
    max-height: 400px;
}

table{
    width: 100%;
    border-collapse: collapse;
    color: white;
    background-color: darkcyan;
    table-layout: fixed;
}

thead,th{
    position: sticky;
    top: 0;
    background-color: darkcyan;
}

th,td{
    padding: 8px 12px;
    border: 1px solid white;
    text-align: center;
}

th{
    font-weight: bold;
}