#English{
    text-decoration: line-through dashed red;
}

#Georgia{
    text-decoration: line-through dotted blue;
}

#Spain{
    text-decoration: line-through double orangered;
}

#Russia{
    text-decoration: line-through green;
}