#Spain{
    font-weight: 100;
}

#Georgia{
    font-weight: 200;
}

#France{
    font-weight: 300;
}

#germany{
    font-weight: 400;
}

#Italy{
    font-weight: 500;
}

#England{
    font-weight: 600;
}

#Arabia{
    font-weight: 700;
}

#America{
    font-weight: 800;
}

#Nederlands{
    font-weight: 900;
}