body{
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.list-container {
    border-radius: 10px;
    padding: 20px;
    width: 80%;
    max-width: 500px;

}

ul{
    list-style-type: none;
    padding: 0;
}

li{
    text-align: center;
    margin-right: 124px;
    margin-left: 125px;
    background-color: #fbe5ea;
    padding: 15px 20px;
    font-size: 1.6em;
    color: #000000;
    position: relative;
    margin: 35px;
    width: 200px;
    font-weight: 700;
}



li::before {
    content: "•";
    color: rgb(0, 0, 0);
    font-size: 4em;
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);

}