    table {
      border-collapse: collapse;
      width: 100%;
    }

    td, th {
      border: 2px solid yellowgreen;
      padding: 8px;
    }

    tr:nth-child(even){
      background-color: blue;
      color: white;
    }